# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv/
venv/
ENV/
env/
.env
.pytest_cache/
.ruff_cache/
.coverage
.tox/
.nox/
.hypothesis/
*.egg-info/
dist/
build/
eggs/
*.egg
pip-log.txt
pip-delete-this-directory.txt

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store
*requirements.txt*