# Node.js
node_modules/
**/node_modules/
.npm
.eslintcache
.yarn-integrity
.yarn/
.pnp.*

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv/
venv/
ENV/
env/
.env
.pytest_cache/
.ruff_cache/
.coverage
.tox/
.nox/
.hypothesis/
*.egg-info/
dist/
build/
eggs/
*.egg

# CDK
.cdk.staging/
cdk.out/
cdk-outputs.json

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store
